<%- include('header'); -%>
    <div class="d-flex justify-content-center align-items-center hugetext" style="height: 100vh;">
        <h1 class="display-1">
            <%= time %>
        </h1>
    </div>

</html>